<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="css/styles.css">

</head>

<body>
    <nav>
        <ul>
            <li tabindex="0" class="nav__button"><a>Bicycle shop</a></li>
            <li tabindex="0" class="nav__button"><a>Upload bike</a></li>
            <li tabindex="0" class="nav__button"><a>Edit bike</a></li>
            <div tabindex="0" class="nav__button "><a id="total__price">Total Price: 0</a></div>
            <button tabindex="0" class="nav__button" onclick="SortBikes(showedlist)">Sort bicycle by weigth</button>
            <button tabindex="0" class="nav__button" onclick="restore()">Restore</button>

        </ul>
        <form id="search">
            <input type="text" name="query" id="search__title" placeholder="Type something...">
            <button type="button" onclick="SearchBikes()">Search</button>
        </form>
    </nav>
    <div id="container">
        <form class="sidebar" id="bikeform">
            <h5 id="create__title">Create bike</h5>
            <div class="create__input">
                <label for="title__input" class="label__form">Name</label>
                <input type="text" id="title__input" class="input__form" name="title" required>
            </div>
            <div class="create__input">
                <label for="price__input" class="label__form">Price</label>
                <input type="number" id="price__input" class="input__form" name="price" required>
            </div>
            <div class="create__input">
                <label for="weight__input" class="label__form">Weight</label>
                <input type="number" id="weight__input" class="input__form" name="weight" required>
            </div>
            <div class="create__input">
                <label for="type__input" class="label__form">Type</label>
                <input type="text" id="type__input" class="input__form" name="type" required>
            </div>
            <button id="submit__button" type="submit" class="submit__button">Submit</button>
        </form>
            <div class="edit hide sidebar" >
                <h5 id="edit__title">Edit bike</h5>
                <div class="create__input">
                    <label for="title__input__edit" class="edit__form">New name</label>
                    <input type="text" id="title__input__edit" class="input__form" placeholder=${title}>
                </div>
                <div class="create__input">
                    <label for="price__input__edit" class="edit__form">New price</label>
                    <input type="number" id="price__input__edit" class="input__form">
                </div>
                <div class="create__input">
                    <label for="weight__input__edit" class="edit__form">New weight</label>
                    <input type="number" id="weight__input__edit" class="input__form">
                </div>
                <div class="create__input">
                    <label for="type__input__edit" class="edit__form">New type</label>
                    <input type="text" id="type__input__edit" class="input__form">
                </div>
                <button id="submit__button" type="submit" class="submit__button" onclick="saveEdit()">Submit</button>
                <button id="cancel__button" type="submit" class="submit__button" onclick="cancelEdit()">Cancel</button>

            </div>
        </form>
        <main>
            <div id="bikelist">
            </div>
        </main>
    </div>
    <script src="/js/api.js"></script>
    <script src="/js/display-bikes.js"></script>
    <script src="/js/crud-operation.js"></script>
    <script src="/js/search-sort-count.js"></script>
    <script src="/js/edit.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>