body {
  margin: 0;
}

nav {
  background-color: #f8f8f8;
  display: flex;
}

ul {
  padding: 30px 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

li {
  display: inline-flex;
}

.nav__button {
  font-size: 18px;
  border-radius: 8px;
  border-color: black;
  padding: 11px;
  background-color: #e0e0e0;
  margin: 0 12px;
}

#search {
  align-items: center;
  display: flex;
}

#search button {
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
  background-color: #e0e0e0;
}

#search input {
  padding: 10px;
  border-radius: 10px;
  height: 16px;
  margin-right: 15px;
}

.sidebar {
  display: inline-block;
  position: absolute;
  width: 340px;
  height: 100%;
  background-color: #f8f8f8;
  left: 0;
  top: 103px;
  flex: 0 0 auto;
}

#container {
  margin-left: 340px;
}

.add__item {
  height: 250px;
  width: 300px;
  background-color: #f2f1f1;
  border-radius: 15px;
  border: 2px solid black;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}

.card__title {
  text-align: center;
  hyphens: auto;
  max-width: 250px;
  margin: 21px 0px 21px 18px;
}

.card__bike__price,
.card__bike__weight,
.card__bike__type {
  margin-left: 30px;
}

#create__title {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

.create__input {
  width: 200px;
  margin-left: 80px;
  margin-top: 15px;
}

input[type="text"],
input[type="number"] {
  padding: 3px 5px;
  border-radius: 6px;
  border: 2px solid rgb(189, 189, 189);
}

.submit__button {
  padding: 10px 50px;
  border-radius: 10px;
  margin-right: 50px;
  background-color: #e0e0e0;
  margin-top: 25px;
  margin-left: 95px;
  cursor: pointer;
}

#bikelist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
}

.card__body {
  background-color: #e0e0e0;
  margin-right: 10px;
  margin-bottom: 15px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: black;
  border: 2px solid;
}

.delete__button {
  margin-left: 30px;
  height: 30px;
  width: 100px;
  border-radius: 8px;
  border: 0px;
  background-color: rgb(243, 70, 70);
  margin-bottom: 30px;
  cursor: pointer;
}

.edit__button {
  background-color: rgb(0, 238, 255);
  border-radius: 8px;
  border: 0px;
  margin-left: 30px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

.hide {
  display: none;
}

#edit__title {
  text-align: center;
  font-size: 30px;
  margin: 10px 0 0 0;
}

#cancel__button {
  background-color: rgb(243, 70, 70);
  padding: 5px 20px;
  margin-left: 125px;
  margin-top: 10px;
  cursor: pointer;
}
.edit{
  position: inline;
  margin-top: 370px;
}
